@font-face {
    font-family: 'Chivo';
    src: url('../fonts/Chivo-Light.ttf');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chivo';
    src: url(../fonts/Chivo-Bold.ttf);
    font-weight: bold;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
    border: 0;
    vertical-align: baseline;
    list-style: none;
    font-family: 'Chivo', sans-serif;
    font-style: normal;
}

body {
    background-color: #121725;
}

.desktop, .tablet, .dots, .icons {
    display: none;
}

.mobile-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    z-index: -1;
    opacity: 0.1;
    width: 375px;
}

/*Header*/
header img {
    margin: 62px auto 57px;
    width: 134.85px;
    height: 56px;
    display: block;
}

/*Article*/

article {
    margin: 57px auto 94px;
    width: 327px;
}

h1, p {
    text-align: center;
    font-weight: normal;
}

h1, span {
    font-size: 26px;
    line-height: 38px;
    text-transform: uppercase;
}

h1 {
    color: #54E6AF;
}

span {
    color: #FFF;
}

p {
    font-size: 15px;
    line-height: 25px;
    color: #C2CBE5;
    margin: 16px 0 33px;
}

/*Icons*/

.mobile-icons {
    display: flex;
    width: 315px;
    height: 17px;
    margin: 33px auto 48px;
    align-items: center;
}

.mobile-icons img {
    filter: invert(38%) sepia(40%) saturate(337%) hue-rotate(187deg) brightness(96%) contrast(96%);
    opacity: 0.5;
}

.spotify-mobile {
    height: 17px;
    width: 56px;
    margin-right: 23px;
}

.apple-mobile {
    height: 17px;
    width: 45px;
    margin-right: 25px;
}

.google-mobile {
    height: 11px;
    width: 73px;
    margin-right: 16px;
}

.pocket-mobile {
    height: 15px;
    width: 77px;
}

/*Form*/

#text {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FB3E3E;
    margin: 8px 0 0 32px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0px solid #2C344B;
  -webkit-text-fill-color: #FFF;
  -webkit-box-shadow: 0 0 0px 1000px #2C344B inset;
  transition: background-color 5000s ease-in-out 0s;
}

.email {
    background-color: #2C344B;
    border-radius: 28px;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 9px 32px;
    width: 327px;
    font-weight: bold;
    outline: none;
}

.submit {
    background-color: #54E6AF;
    border-radius: 28px;
    font-size: 14px;
    line-height: 28px;
    color: #121725;
    padding: 9px 0px;
    width: 327px;
    font-weight: bold;
    margin-top: 16px;
    cursor: pointer;
}

.submit:hover, .submit:focus-visible {
    background-color: #B3FFE2;
}

@media only screen and (min-width: 768px) {
    .mobile {
        display: none;
    }

    .tablet-img {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 491px;
        height: 767px;
    }

    /*Header*/

    header img {
        margin: 50px 0px 152px 39px;
    }

    /*Article*/

    article {
        width: 635px;
        height: 509px;
        background-color: #121725;
        margin: 0 0 153px 39px;
        padding-top: 91px;
    }

    h1, p {
        text-align: left;
    }

    h1, span {
        font-size: 48px;
        line-height: 56px;
    }

    p {
        font-size: 18px;
        line-height: 28px;
        margin: 31px 0 40px;
        width: 445px;
    }

    /*Form*/
    
    form {
        background-color: #2C344B;
        border-radius: 28px;
        width: 427px;
        height: 56px;
        margin-bottom: 64px;
    }

    .email {
        padding: 14px 0 14px 32px;
        width: 250px;
    }

    .submit {
        width: 162px;
        margin: 5px;
    }

    /*Icons*/

    .icons {
        display: flex;
        width: 539px;
        height: 29px;
        align-items: center;
    }

    .icons img {
        filter: invert(38%) sepia(40%) saturate(337%) hue-rotate(187deg) brightness(96%) contrast(96%);
        opacity: 0.5;
    }

    .spotify {
        width: 96px;
        height: 29px;
        margin-right: 40px;
    }

    .apple {
        width: 78px;
        height: 29px;
        margin-right: 41px;
    }

    .google {
        width: 125px;
        height: 18px;
        margin-right: 27px;
    }

    .pocket {
        width: 129px;
        height: 26px;
    }

    /*Dots*/

    .dots {
        display: block;
        margin-left: 30px;
    }
}

@media only screen and (min-width: 1440px) {
    .mobile, .tablet {
        display: none;
    }

    .desktop-img {
        position: absolute;
        top: 130px;
        right: 0px;
        display: block;
        width: 888px;
        height: 640px;
        z-index: -1;
    }

    /*Header*/

    header img {
        margin: 102px 0 103px 165px;
    }

    /*Article*/

    article {
        width: 723px;
        height: 509px;
        margin: 0 0 130px 165px;
        padding: 88px 58px 0 0;
    }

    h1, span {
        font-size: 52px;
        line-height: 62px;
    }

    p {
        margin: 24px 0 40px;
    }

    /*Dots*/

    .dots {
        position: absolute;
        top: 718px;
        right: 0;
        margin: 0;
    }
}